body{
    width: 50%;
}
#logo{
    background-image: url("../img/pattern.png");
    height: 170px;
    background-color: dodgerblue;
}

div > img {
    height: 40%;
    width: auto;
}



#didascalia-titolo{
    color: grey;
    font-size: 80%;
}

.blue{
    color: dodgerblue;
}

.data{
    font-size: 70%;
}

.didascalia-foto{
    font-size: 80%;
}

.yellow{
    background-color: yellow;
}

tr{
    text-align: left;
}

th{
    color: white;
}

thead{
    background-color: dodgerblue;
}

.lightblue{
    background-color:lightskyblue;
}

h4{
    color: grey;
}

h3{
    color: white;
}